modules = ["web", "nodejs-20", "python-3.11", "postgresql-16"]
[agent]
expertMode = true
integrations = ["python_openai:1.0.0", "python_gemini:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["iana-etc"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask App"

[[workflows.workflow]]
name = "Flask App"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python run.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 36961
externalPort = 3002

[[ports]]
localPort = 38043
externalPort = 5173

[[ports]]
localPort = 38467
externalPort = 5000

[[ports]]
localPort = 39861
externalPort = 6000

[[ports]]
localPort = 40465
externalPort = 3003

[[ports]]
localPort = 41643
externalPort = 3001

[[ports]]
localPort = 43687
externalPort = 3000

[[ports]]
localPort = 45235
externalPort = 4200

[deployment]
deploymentTarget = "vm"
run = ["python", "run.py"]
